<?xml version='1.0' encoding='utf-8'?>
<widget id="arejae.com.cordova.ftp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FileTransfer</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="arejae@gmail.com" href="http://arejae.com">
        RJWorld Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
